---
layout: post
title: Blog
---

<p>Topics:</p>
<ul>
  <li><a href="#chess">Chess</a></li>
  <li><a href="#home-improvement">Home improvement</a></li>
  <li><a href="#misc">Misc</a></li>
</ul>

<h2 id="chess">Chess</h2>
<ul>
{% for post in site.categories.chess %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="meta">({{ post.date | date: "%Y-%m-%d" }})</span></li>
{% endfor %}
</ul>

<h2 id="home-improvement">Home improvement</h2>
<ul>
{% for post in site.categories.home %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="meta">({{ post.date | date: "%Y-%m-%d" }})</span></li>
{% endfor %}
</ul>

<h2 id="misc">Misc</h2>
<ul>
{% for post in site.categories.misc %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="meta">({{ post.date | date: "%Y-%m-%d" }})</span></li>
{% endfor %}
</ul>
